#
# Project Root = This directory
#
export PROJECT_ROOT="$( pwd )"

#
# ## PostgreSQL
#
export PGDATA="$PROJECT_ROOT/_postgres.db"

#
# ## Pip
#
export PIP_CACHE_DIR="$PROJECT_ROOT/_local/pip_cache"

#
# ## PipEnv
#
export PIPENV_CACHE_DIR="$PROJECT_ROOT/_local/pipenv_cache"
export PIPENV_VENV_IN_PROJECT=yes
export PIPENV_IGNORE_VIRTUALENVS=yes
export PIPENV_VERBOSE=yes
export PIPENV_YES=yes

#
# ## V-Env
#
export _VENV_ROOT=_venv
